*{
	transition: 0.5s;
}


body{ 
    height:100%;
	   background: #ADFF2F;    
    background: linear-gradient(to right,#a976ed ,  #8FBC8F, #ADD8E6); 


}
.satu{
	text-align: center;

}
.tiga{
	text-align: center;
}
.as{
	text-align: center;
}
.satu{
	font-family: 'Lobster', cursive;
}
.dua{
	box-shadow: 10px 10px 5px black;
	text-decoration: none;
	background-color:burlywood ;
	font-size: 100%;
	color: green;
	padding: 7px;
	font-family: 'Lobster', cursive;
	width: 5%;
	margin: 3%;
	border: 3px solid cornsilk;
}
.dua:hover{
	color: white;
	background-color: green;
}
.tengah{
	position: relative;
	height: 200%;
	width: 80%;
	font-size: 20px;
	margin: auto;
}
.judul{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 5vh;
	font-family: 'Lobster', cursive;

}
.resume-box{
	width: 100%;
	position: relative;
	height: 30%;
	
}
.empat{
	position: relative;
	width: 50%;
	margin: 5%;
	border: 3px solid cornsilk;
	display: block;
	padding: 2px;
	box-shadow: 10px 10px 5px black;
	text-align: center;
	font-family: 'Lobster', cursive;

}
.lima{
	position: relative;
	width: 100%;
	margin: 5%;
	padding: 2px;
	font-family: 'Lobster', cursive;
	
}
/*.kiri{
	width: 45%;
	position: relative;
	display: inline-block;
	margin: 6px;

}*/
.enam{
	box-shadow: 10px 10px 5px black;
	text-decoration: none;
	background-color:burlywood ;
	font-size: 100%;
	color: green;
	padding: 7px;
	font-family: 'Lobster', cursive;
	width: 6%;
	margin-left: 15%;
	border: 3px solid cornsilk;
	margin-bottom: 40%;
}
.enam:hover{
	color: white;
	background-color: green;
}

.baris {
	width: 100%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	vertical-align: middle;
}
.k1{
	display: inline-block;
	width: 35%;
	height: 100%;
	margin-left: 3%;
	line-height: 100%;
}
.k2{
	display: inline-block;
	width: 30%;
}
.fieldset{
	margin:auto;
}
.pertama{
	text-align: justify;
	margin-top: 1%;
}
.enam2{
	box-shadow: 10px 10px 5px black;
	text-decoration: none;
	background-color:burlywood ;
	font-size: 100%;
	color: green;
	padding: 7px;
	font-family: 'Lobster', cursive;
	width: 10%;
	margin-left: 15%;
	border: 3px solid cornsilk;
	margin-bottom: 50%;
	margin-top: 30%;
}
.enam2:hover{
	color: white;
	background-color: green;
}
.badan {
	height:100%;
	   background: #ADFF2F;    
    background: linear-gradient(to right,#a976ed ,  #8FBC8F, #ADD8E6); 

}
